.hello-world{
	font-family:Arial;
	font-size:18;
	font-weight:bold;
	color:blue;
}

table {
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }